.dashcardlink{
    text-decoration: none;
}
.dashcard{
    background-color: rgba(0, 0, 0, 0.904);
    color: white;
}
.dashcard:hover{
    background-color: rgb(228, 228, 228);
    color:black;
    transition: 500ms;
}
.dashcard h1{
    font-size: 4rem;
    font-weight: 700;
}
.dashrow{
    justify-content: center;
    align-items: center;
}