 @import url('https://fonts.googleapis.com/css2?family=Ephesis&display=swap');
 @import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");
 @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,300;1,500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    /* font-family: 'Roboto', sans-serif !important; */
}
:root{
    --bs-body-font-family: 'Roboto', sans-serif !important;
    --bs-body-font-size: 1rem !important;
    --bs-body-font-weight: 300 !important;
    --bs-border-radius: 0rem !important;
}
  body {
    background: #79AC78 url(../../images/background/background.jpg) center;
    min-height: 100vh;
    /* font-family: "Montserrat", sans-serif; */
    margin: 0;
    overflow-x: hidden;
    color: #fff;
    font-weight: 400;
    font-size: 14px; }
  
  html {
    padding:0;
    position: relative;
    min-height: 100%;
    background: #ffffff;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; 
}

.accountnav{
    background-color: black !important;
    border-radius: 2rem !important;
}
.accountnav a:hover, .accountnav a:focus {
    background-color: transparent !important;
}

.compname h1{
    font-family: 'Ephesis', cursive !important;
    font-size: 5rem !important;
    font-weight: 400;
    padding: 0;
    margin:0 ;
}
.logcard{
    background-color: rgba(0, 0, 0, 0.8) !important;
    color:#fdb601 !important;
}
.secline{
    color:rgba(254, 220, 6, 1) !important;
}
.socbtns button{
    color: #79ac78
}
.signup a{
    text-decoration: none;
}
.aptname h1 {
    color: #ffffff !important;
    text-shadow: 0px 0px 0 #000, 3px 0px 0 #000, -1px 1px 0 #000, 1px 2px 0 #000;
}

.housefeat p{
    color:white;
    font-size: 1rem !important;
    margin-top: 1rem
}
.card-title{
    font-weight:700 !important;
    color:#fdb601 !important;
    font-style: italic;
}
.housefeat{
    background-color: rgba(26, 114, 91, 0.596) !important;
}
.housefeat img{
    max-width: 100px;
}
.housefeat{
    border: none !important;
}
.spinner-container {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 99999;
    background-color: black;
    opacity: 1;
    transition: all 500ms;
    /* animation: slideAndFade 5s cubic-bezier(0.23, 1, 0.32, 1) 1s forwards; */
}

.spinner-container-remove {
    opacity: 0;
    display: none;
}

.spinner {
    width: 100px;
    height: 100px;
    overflow: hidden;
}

.spinner img {
    width: 100%;
    height: 100%;
    animation: spin 2s linear infinite;
}
/* 
@keyframes slideAndFade {
    0% { transform: translateX(0); opacity: 1; }
    100% { transform: translateX(-100%); opacity: 0; }
} */

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
